.match-score {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.team-home {
    margin-left: 10px; /* Tambah margin kiri */
    text-align: left; /* Pastikan teks tetap rata kiri */
}

.home-team-name {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.away-team-name {
    color: black ;
    font-weight: bold;
    text-decoration: none;
}

.home-team-name:hover,
.away-team-name:hover {
    color: #007bff; /* Warna biru untuk hover */
    text-decoration: none; /* Tetap tanpa underline saat hover */
}

.match-details {
    text-align: center;
}

.match-item {
    margin: 15px 0;
}

.match-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensures vertical alignment */
}

.team-info {
    display: flex;
    align-items: center; /* Vertically centers logos and team names */
}

.match-score {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.score-container {
    flex: 0 0 50px; /* Tetapkan tinggi tetap */
    text-align: center;
    display: flex;
    align-items: center; /* Sejajarkan secara vertikal */
    justify-content: center; /* Sejajarkan secara horizontal */
}